backports.ssl-match-hostname==3.5.0.1
bcrypt==3.1.6
cachetools==3.1.0
certifi==2019.3.9
cffi==1.12.2
chardet==3.0.4
Click==7.0
colorama==0.4.1
croniter==0.3.29
dnspython==1.16.0
enum34==1.1.6
Flask==1.0.2
Flask-HTTPAuth==3.2.4
gevent==1.4.0
greenlet==0.4.15
gunicorn==19.9.0
html5lib==1.0.1
idna==2.8
ipaddress==1.0.22
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
pycparser==2.19
pymongo==3.7.2
python-dateutil==2.8.0
requests==2.21.0
retrying==1.3.3
six==1.12.0
urllib3==1.24.1
webencodings==0.5.1
websocket-client==0.54.0
Werkzeug==0.15.2
